<mat-toolbar>Angular JSON Schema Form Demo Playground</mat-toolbar>
<table class="mat-typography">
    <tr>
        <td>Value (Changes are applied to the form onBlur)</td>
        <td>Schema (Changes are applied to the form onBlur)</td>
        <td>Examples (Press to select sample data and schema)</td>
    </tr>
    <tr>
        <td>
            <textarea style="width: 300px" [value]="stringify(value)" (change)="changeV($event)"></textarea>
        </td>
        <td>
            <textarea style="width: 600px" [value]="stringify(schema)" (change)="changeS($event)"></textarea>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        Types:
                    </td>
                    <td>
                        <button (click)="select('string')">string</button>
                        <button (click)="select('boolean')">boolean</button>
                        <button (click)="select('integer')">integer</button>
                        <button (click)="select('number')">number</button>
                        <button (click)="select('array')">array</button>
                        <button (click)="select('object')">object</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Widgets:
                    </td>
                    <td>
                        <button (click)="select('select')">select</button>
                        <button (click)="select('upload')">upload</button>
                        <button (click)="select('date')">date</button>
                        <button (click)="select('textarea')">textarea</button>
                        <button (click)="select('password')">password</button>
                        <button (click)="select('color')">color</button>
                        <button (click)="select('datetime-local')">datetime-local</button>
                        <button (click)="select('email')">email</button>
                        <button (click)="select('month')">month</button>
                        <button (click)="select('tel')">tel</button>
                        <button (click)="select('time')">time</button>
                        <button (click)="select('url')">url</button>
                        <button (click)="select('week')">week</button>
                        <button (click)="select('custom')">custom</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        JSON schema constructs:
                    </td>
                    <td>
                        <button (click)="select('enum')">enum</button>
                        <button (click)="select('required')">required</button>
                        <button (click)="select('title')">title</button>
                        <button (click)="select('description')">description</button>
                        <button (click)="select('default')">default</button>
                        <button (click)="select('examples')">examples</button>
                        <button (click)="select('readOnly')">readOnly</button>
                        <button (click)="select('additionalProperties')">additionalProperties</button>
                        <button (click)="select('ref')">ref</button>
                        <button (click)="select('pattern')">pattern</button>
                        <button (click)="select('format')">format</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Logic:
                    </td>
                    <td>
                        <button (click)="select('compute')">compute</button>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        Autocomplete:
                    </td>
                    <td>
                        <button (click)="select('simpleGet')">simpleGet</button>&nbsp;
                        <a href="assets/autocomplete-simple.json">data</a>&nbsp;
                        <button (click)="select('jsonPointer')">jsonPointer</button>&nbsp;
                        <a href="assets/autocomplete-complex.json">data</a>&nbsp;
                        <button (click)="select('static-choices')">static-choices</button>
                        <button (click)="select('select')">select</button>
                        <button (click)="select('displayWith')">displayWith</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Layout:
                    </td>
                    <td>
                        <button (click)="select('tab')">tab</button>
                        <button (click)="select('table')">table</button>
                        <button (click)="select('vertical')">vertical</button>
                        <button (click)="select('horizontal')">horizontal</button>
                        <button (click)="select('nested')">nested</button>
                        <button (click)="select('array-select')">array-select</button>
                        <button (click)="select('conditional')">conditional</button>
                        <button (click)="select('style')">style</button>
                        <button (click)="select('class')">class</button>
                        <button (click)="select('expanded')">expanded</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Complex:
                    </td>
                    <td>
                        <button (click)="select('complex')">complex</button>
                        <button (click)="select('metaschema')">metaschema</button>&nbsp;
                        <a routerLink="/schema">also see JSON schema editor</a>&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>{{errorV}}</td>
        <td>{{errorS}}</td>
</table>
<br>
<label class="mat-typography"><b>{{description}}</b></label>
<br>
<label class="mat-typography">Form (Changes are applied to the JSON textarea onBlur)</label>
<lib-json-schema-form [(value)]="value" [schema]="schema" [label]="schema.title" (invalidChange)="invalid=$event">
</lib-json-schema-form>
<br>
<label class=" mat-typography">{{invalid ? "invalid" : (invalid===false ? "valid" : null)}}</label>